<%= render "layouts/header" %>

<div class="container">
  <div class="row">
    <span class="col s8 offset-s2">
      <h1 class="user-panel-title center">Formulario de denuncia</h1>
      <p class="center">Si estas de acuerdo con compartir tu información de cuerdo a lo expresado anteriormente,
        te solicitamos llenar el siguiente formulario.
      </p>
    </span>
  </div>
  <div class="row">
    <form class="col s10 offset-s1">
      <div class="row">
        <div class="dep input-field col s6">
          <select id="departamento">
            <option value="" disabled selected></option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <label>Departamento:</label>
        </div>
        <div class="mun input-field col s6">
          <select id="municipio">
            <option value="" disabled selected></option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <label for="municipio">Municipio:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="fecha" type="date" class="datepicker" />
          <label for="fecha" class="active">Fecha del suceso:</label>
        </div>
        <div class="input-field col s6">
          <input id="email" type="email" class="validate" placeholder=" ">
          <label for="email" class="active">Correo de contacto:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" placeholder=" "></textarea>
          <label for="textarea1" class="active">Cuentanos como sucedieron los hechos:</label>
        </div>
      </div>
      <div class="row">
        <div class="file-field input-field col s12">
          <div class="btn">
            <span>Cargar Archivo</span>
            <input id="archivo" type="file" multiple>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Puedes subir uno o más archivos"">
          </div>
        </div>
      </div>
      <br>
      <a id="comp_form_continue" onclick="verify(event);" href="<%= social_group_path %>" class="waves-effect waves-light btn right" onclick="location.reload()">Continuar</a>
      <a onclick="comeBack(event);" href="<%= confirmation_path %>" class="waves-effect waves-light btn left">Volver</a>
    </form>
  </div>
</div>