<div class="container">
  <br><br>
  <h1 class="main-title header center" style="color: #455a64 ">CAECUS</h1>
  <div class="col s12 center">

    <p class="left-align light"></p>En safe and sound procuramos dar lo mejor que tenemos para lograr el bienestar y
    la segurida de quienes mas queremos, somos un grupo de desarrolladores, muy interesados en crear herramientas
    tecnologicas al servicio de la comunidad</p>
  </div>

  <br><br>

  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <a class="red-button landing_button  waves-effect waves-light btn-large">Denunciar</a>

          <p class="light">Ingresa aquí si necesitas denunciar alguna agresión o amenaza debido a tu labor social o política</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <a class="landing_button waves-effect waves-light btn-large">Consultar</a>

          <p class="light">Conoce los datos más recientes sobre asesinatos y amenazas a líderes sociales, comunales e indígenas y a defensores de Derechos Humanos en Colombia</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <a class="landing_button waves-effect waves-light btn-large">Ingresar al sistema</a>

          <p class="light">Si eres una organización defensora de DDHH ingresa o regístrate para acceder a más información.</p>
        </div>
      </div>
    </div>


  </div>


</div>