<div class="container">
  <br><br>
  <h1 class="main-title header center" style="color: #455a64 ">CAECUS</h1>
  <div class="col s12 center">

    <p class="light"></p>CAECUS es una aplicación que permite denunciar amenazas a la vida de líderes sociales, defensores de DDHH y en general toda persona que sea perseguida a causa del conflicto armado en Colombia , también pretende ser una herramienta de visualización
    de la problemática con el objetivo de concientizar a la sociedad sobre todos los casos que están sucediendo actualmente.</p>
    <br>
    <h4>¿Qué deseas hacer con CAECUS?</h4>
  </div>

  <br><br>

  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <a href="<%= confirmation_path %>" class="red-button landing_button  waves-effect waves-light btn-large">Denunciar</a>

          <p class="light">Ingresa aquí si necesitas denunciar alguna agresión o amenaza debido a tu labor social o política</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <a class="landing_button waves-effect waves-light btn-large">Consultar</a>

          <p class="light">Conoce los datos más recientes sobre asesinatos y amenazas a líderes sociales, comunales e indígenas y a defensores de Derechos Humanos en Colombia</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <a class="landing_button waves-effect waves-light btn-large">Ingresar al sistema</a>

          <p class="light">Si eres una organización defensora de DDHH ingresa o regístrate para acceder a más información.</p>
        </div>
      </div>
    </div>
  </div>
</div>