<%= render "layouts/header" %>

<div class="container">
  <div class="row">
    <h1 class="center user-panel-title">Formulario de denuncia</h1>
    <p class="center">Si estas de acuerdo con compartir tu información de cuerdo a lo expresado anteriormente,
      te solicitamos llenar el siguiente formulario.
    </p>
  </div>
  <div class="row">
    <form class="col s8 complaint-form">
      <div class="row">
        <div class="input-field col s6">
          <select>
            <option value="" disabled selected></option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <label>Departamento:</label>
        </div>
        <div class="input-field col s6">
          <select>
            <option value="" disabled selected></option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <label>Municipio:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="fecha" type="date" class="datepicker" />
          <label for="fecha">Fecha del suceso</label>
        </div>
        <div class="input-field col s6">
          <input id="email" type="email" class="validate" placeholder=" ">
          <label for="email" class="active">Correo de contacto</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" placeholder=" "></textarea>
          <label for="textarea1" class="active">Cuentanos como sucedieron los hechos</label>
        </div>
      </div>
      <div class="row">
        <div class="file-field input-field col s12">
          <div class="btn">
            <span>Cargar Archivo</span>
            <input type="file" multiple>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Puedes subir uno o más archivos"">
          </div>
        </div>
      </div>
      <br>
      <button href="#" class="btn waves-effect waves-light right" type="submit" name="action">Continuar
        <!-- <i class="material-icons right">send</i> -->
      </button>
    </form>
  </div>
</div>