@import "materialize";

body{
    background: #A6A6A6;
    font-size: 20px;
}

.main-title{
    font-size: 10rem;
    margin-top: 0;
}

.landing_button{
    width: 100%;
    background-color: #011826;
    color:white;
}

.landing_button:hover{
    background-color: #011826a6;
}

.red-button{
    background-color: rgba(255, 0, 0, 0.596);  
    color: white;
}

.red-button:hover{
    background-color: rgba(180, 3, 3, 0.5);
}

nav{
    background-color: #011826;
}

.mylogo{
    width: 60px;
    height: 80%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header-title{
    margin: 0;
    color: #cecece;
    padding: 10px 70px;
}