

@import "materialize";

body{
    background: #B6C6BC;
    font-size: 20px;
    // font-family: 'Poppins';
}

.main-title{
    font-size: 10rem;
    margin-top: 0;
}



.landing_button{
    width: 100%;
    background-color: #E8B9B1;
    color:black;
}

.landing_button:hover{
    background-color: rgb(180, 149, 143)
}

.red-button{
    background-color: rgba(255, 0, 0, 0.596);  
    color: white;
}

.red-button:hover{
    background-color: rgba(180, 3, 3, 0.5);
}

nav{
    background-color: #D9CDB8;
}

.mylogo{
    width: 60px;
    height: 80%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}