// Place all the styles related to the complaint controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.complete-title{
    color: #022840;
}

input#complaint_department.validate, input#complaint_city.validate, input#complaint_clasification.validate, input#complaint_date_event.datepicker, input#complaint_email.validate, textarea#complaint_description.materialize-textarea, input#complaint_file.validate {
    margin-top: 15px;
}

input[type=text]:not(.browser-default):disabled, input#complaint_email.validate, input#complaint_date_event.datepicker, textarea#complaint_description.materialize-textarea{
    color: #000000b3;
}