// Place all the styles related to the confirmation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p.confirmation-paragraph{
    text-align: justify
}

.card .card-image .card-title.confirmation-atencion{
    color: #F2F2F2;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
    color: #022840;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover{
    color: #02284075;
}

span.card-title.confirmation-atencion{
    background-color: #595959bd;
    width: 100%;
}