@font-face{
    font-family: 'Poppins';
    src: font-url('Poppins-Regular.ttf') format('truetype');
    font-weight: normal;   
    font-style: normal;
}

@font-face{
    font-family: 'Roboto';
    src: font-url('Roboto-Light.ttf') format('truetype');
    font-weight: lighter;   
    font-style: normal;
}

body, ::placeholder, input, textarea{
    font-family: 'Poppins';
}