.map_report{
    transition: 0.8s;
    height: 60vh;
    border-radius: 20px;
    margin-bottom: 50px
}
.map_user-panel{
    width: 100% !important;
    height: 100% !important
}

#floating-panel{
    position: absolute;
    margin: 10px 120px;
    z-index: 5;
}
    .btn{
        margin-right: 15px;
    }

.ac_red{
    background-color: #f24b4b !important;
    transition: 0.5s}
