<nav role="navigation">
    <div class="nav-wrapper container">
        <%= link_to  root_path do %>
            <img src="<%= asset_path('logo.png') %>" class="mylogo">
            <span>
                <h3 class="header-title">CAECUS</h3>
            </span>
        <% end %>
    </div>
</nav>
