<nav role="navigation">
    <div class="nav-wrapper container">
        <%= link_to  root_path do %>
            <img src="<%= asset_path('logo.png') %>" class="mylogo">
        <% end %>
    </div>
</nav>
